/* centered.css -- copal-css.net 2013-07-12 */

body  { 
	text-align: center;   /* Centered page layout MSIE/Win */
}
#Page { 
	margin: 0 auto;       /* Centered page layout other than MSIE/Win */
	width: 90%;           /* Overwrite this in custom layout.css */
}
