/* copal/page.css -- copal-css.net, 2013-08-29 */

.Page { 
	position: relative;
	text-align: left;    /* Undo occasional "text-align: center" from body */
	/* IE67: */ *zoom: 1;
}
.Header {
	position: relative;
	float: none;
	clear: both;
	/* IE67: */ *zoom: 1;
}
.Header:after {
	content: "."; display: block; height: 0; visibility: hidden; clear: both;
}
.Logo {
	position: relative;
	float: left;
	/* IE67: */ *display: inline;
}
@media print {
	.Logo img.print { display: inline !important; }
}
.HeaderTitle {
	position: relative;
	float: left;
	/* IE67: */ *display: inline;
}
.MetaNavigation {
	position: relative;
	float: right;
	/* IE67: */ *display: inline;
}
.Main {
	position: relative;
	clear: both;
	/* IE67: */ *zoom: 1;
}
.Main:before, .Main:after {
	content: "."; display: block; height: 0; visibility: hidden; clear: both;
}
.AreaNavigation {
	position: relative;
	clear: both;
	/* IE67: */ *zoom: 1;
	/* IE6:  */ _float: left;
	/* IE6:  */ _display: inline;
}
.AreaNavigation ul {
	position: relative;
	clear: both;
	/* IE67: */ *zoom: 1;
}
.AreaNavigation ul:before, .AreaNavigation ul:after {
	content: "."; display: block; height: 0; visibility: hidden; clear: both;
}
.AreaNavigation ul li {
	position: relative;
	float: left;
	/* IE67: */ *display: inline;
}
.Menu {
	position: relative;
}
.Breadcrumb {
	position: relative;
	/* IE67: */ *zoom: 1;
}
.Navigation {
	position: relative;
	float: left;
	width: 20%;
	/* IE67: */ *display: inline;
	padding-bottom: 1em; /* Occupy space when empty, change in custom CSS! */
}
.Content {
	position: relative;
	float: left;
	width: 55%;
	/* IE67: */ *display: inline;
	padding-bottom: 1em; /* Occupy space when empty, change in custom CSS! */
}
.Sidebar {
	position: relative;
	float: right;
	width: 20%;
	/* IE67: */ *display: inline;
	padding-bottom: 1em; /* Occupy space when empty, change in custom CSS! */
}
.Footer {
	position: relative;
	float: none;
	clear: both;
	/* IE67: */ *zoom: 1;
}




