/* copal/grids/imgheights-08-15px.css -- copal-css.net */
/* 
	Image heights for 8px ascender and 15px line height
*/

.imgHeight1  { height:   8px; }
.imgHeight2  { height:  23px; }
.imgHeight3  { height:  38px; }
.imgHeight4  { height:  53px; }
.imgHeight5  { height:  68px; }
.imgHeight6  { height:  83px; }
.imgHeight7  { height:  98px; }
.imgHeight8  { height: 113px; }
.imgHeight9  { height: 128px; }
.imgHeight10 { height: 143px; }
.imgHeight11 { height: 158px; }
.imgHeight12 { height: 173px; }
.imgHeight13 { height: 188px; }
.imgHeight14 { height: 203px; }
.imgHeight15 { height: 218px; }
.imgHeight16 { height: 233px; }
.imgHeight17 { height: 248px; }
.imgHeight18 { height: 263px; }
.imgHeight19 { height: 278px; }
.imgHeight20 { height: 293px; }
.imgHeight21 { height: 308px; }
.imgHeight22 { height: 323px; }
.imgHeight23 { height: 338px; }
.imgHeight24 { height: 353px; }
.imgHeight25 { height: 368px; }
.imgHeight26 { height: 383px; }
.imgHeight27 { height: 398px; }
.imgHeight28 { height: 413px; }
.imgHeight29 { height: 428px; }
.imgHeight30 { height: 443px; }
.imgHeight31 { height: 458px; }
.imgHeight32 { height: 473px; }
.imgHeight33 { height: 488px; }
.imgHeight34 { height: 503px; }
.imgHeight35 { height: 518px; }
.imgHeight36 { height: 533px; }
.imgHeight37 { height: 548px; }
.imgHeight38 { height: 563px; }
.imgHeight39 { height: 578px; }
.imgHeight40 { height: 593px; }
