/* copal/grids/imgheights-09-15px.css -- copal-css.net */
/*
	Image heights for 9px ascender and 15px line height
*/

.imgHeight1  { height:   9px; }
.imgHeight2  { height:  24px; }
.imgHeight3  { height:  39px; }
.imgHeight4  { height:  54px; }
.imgHeight5  { height:  69px; }
.imgHeight6  { height:  84px; }
.imgHeight7  { height:  99px; }
.imgHeight8  { height: 114px; }
.imgHeight9  { height: 129px; }
.imgHeight10 { height: 144px; }
.imgHeight11 { height: 159px; }
.imgHeight12 { height: 174px; }
.imgHeight13 { height: 189px; }
.imgHeight14 { height: 204px; }
.imgHeight15 { height: 219px; }
.imgHeight16 { height: 234px; }
.imgHeight17 { height: 249px; }
.imgHeight18 { height: 264px; }
.imgHeight19 { height: 279px; }
.imgHeight20 { height: 294px; }
.imgHeight21 { height: 309px; }
.imgHeight22 { height: 324px; }
.imgHeight23 { height: 339px; }
.imgHeight24 { height: 354px; }
.imgHeight25 { height: 369px; }
.imgHeight26 { height: 384px; }
.imgHeight27 { height: 399px; }
.imgHeight28 { height: 414px; }
.imgHeight29 { height: 429px; }
.imgHeight30 { height: 444px; }
.imgHeight31 { height: 459px; }
.imgHeight32 { height: 474px; }
.imgHeight33 { height: 489px; }
.imgHeight34 { height: 504px; }
.imgHeight35 { height: 519px; }
.imgHeight36 { height: 534px; }
.imgHeight37 { height: 549px; }
.imgHeight38 { height: 564px; }
.imgHeight39 { height: 579px; }
.imgHeight40 { height: 594px; }
