/* copal/grids/imgheights-11-21px.css -- copal-css.net */
/*
	Image heights for 11px ascender and 21px line height
*/

.imgHeight1  { height:  11px; }
.imgHeight2  { height:  32px; }
.imgHeight3  { height:  53px; }
.imgHeight4  { height:  74px; }
.imgHeight5  { height:  95px; }
.imgHeight6  { height: 116px; }
.imgHeight7  { height: 137px; }
.imgHeight8  { height: 158px; }
.imgHeight9  { height: 179px; }
.imgHeight10 { height: 200px; }
.imgHeight11 { height: 221px; }
.imgHeight12 { height: 242px; }
.imgHeight13 { height: 263px; }
.imgHeight14 { height: 284px; }
.imgHeight15 { height: 305px; }
.imgHeight16 { height: 326px; }
.imgHeight17 { height: 347px; }
.imgHeight18 { height: 368px; }
.imgHeight19 { height: 389px; }
.imgHeight20 { height: 410px; }
.imgHeight21 { height: 431px; }
.imgHeight22 { height: 452px; }
.imgHeight23 { height: 473px; }
.imgHeight24 { height: 494px; }
.imgHeight25 { height: 515px; }
.imgHeight26 { height: 536px; }
.imgHeight27 { height: 557px; }
.imgHeight28 { height: 578px; }
.imgHeight29 { height: 599px; }
.imgHeight30 { height: 620px; }
.imgHeight31 { height: 641px; }
.imgHeight32 { height: 662px; }
.imgHeight33 { height: 683px; }
.imgHeight34 { height: 704px; }
.imgHeight35 { height: 725px; }
.imgHeight36 { height: 746px; }
.imgHeight37 { height: 767px; }
.imgHeight38 { height: 788px; }
.imgHeight39 { height: 809px; }
.imgHeight40 { height: 830px; }
