/* copal/grids/imgheights-08-16px.css -- copal-css.net */
/*
	Image heights for 8px ascender and 16px line height
*/

.imgHeight1  { height:   8px; }
.imgHeight2  { height:  24px; }
.imgHeight3  { height:  40px; }
.imgHeight4  { height:  56px; }
.imgHeight5  { height:  72px; }
.imgHeight6  { height:  88px; }
.imgHeight7  { height: 104px; }
.imgHeight8  { height: 120px; }
.imgHeight9  { height: 136px; }
.imgHeight10 { height: 152px; }
.imgHeight11 { height: 168px; }
.imgHeight12 { height: 184px; }
.imgHeight13 { height: 200px; }
.imgHeight14 { height: 216px; }
.imgHeight15 { height: 232px; }
.imgHeight16 { height: 248px; }
.imgHeight17 { height: 264px; }
.imgHeight18 { height: 280px; }
.imgHeight19 { height: 296px; }
.imgHeight20 { height: 312px; }
.imgHeight21 { height: 328px; }
.imgHeight22 { height: 344px; }
.imgHeight23 { height: 360px; }
.imgHeight24 { height: 376px; }
.imgHeight25 { height: 392px; }
.imgHeight26 { height: 408px; }
.imgHeight27 { height: 424px; }
.imgHeight28 { height: 440px; }
.imgHeight29 { height: 456px; }
.imgHeight30 { height: 472px; }
.imgHeight31 { height: 488px; }
.imgHeight32 { height: 504px; }
.imgHeight33 { height: 520px; }
.imgHeight34 { height: 536px; }
.imgHeight35 { height: 552px; }
.imgHeight36 { height: 568px; }
.imgHeight37 { height: 584px; }
.imgHeight38 { height: 600px; }
.imgHeight39 { height: 616px; }
.imgHeight40 { height: 632px; }
