/* copal/grids/imgheights-09-16px.css -- copal-css.net */
/*
	Image heights for 9px ascender and 16px line height
*/

.imgHeight1  { height:   9px; }
.imgHeight2  { height:  25px; }
.imgHeight3  { height:  41px; }
.imgHeight4  { height:  57px; }
.imgHeight5  { height:  73px; }
.imgHeight6  { height:  89px; }
.imgHeight7  { height: 105px; }
.imgHeight8  { height: 121px; }
.imgHeight9  { height: 137px; }
.imgHeight10 { height: 153px; }
.imgHeight11 { height: 169px; }
.imgHeight12 { height: 185px; }
.imgHeight13 { height: 201px; }
.imgHeight14 { height: 217px; }
.imgHeight15 { height: 233px; }
.imgHeight16 { height: 249px; }
.imgHeight17 { height: 265px; }
.imgHeight18 { height: 281px; }
.imgHeight19 { height: 297px; }
.imgHeight20 { height: 313px; }
.imgHeight21 { height: 329px; }
.imgHeight22 { height: 345px; }
.imgHeight23 { height: 361px; }
.imgHeight24 { height: 377px; }
.imgHeight25 { height: 393px; }
.imgHeight26 { height: 409px; }
.imgHeight27 { height: 425px; }
.imgHeight28 { height: 441px; }
.imgHeight29 { height: 457px; }
.imgHeight30 { height: 473px; }
.imgHeight31 { height: 489px; }
.imgHeight32 { height: 505px; }
.imgHeight33 { height: 521px; }
.imgHeight34 { height: 537px; }
.imgHeight35 { height: 553px; }
.imgHeight36 { height: 569px; }
.imgHeight37 { height: 585px; }
.imgHeight38 { height: 601px; }
.imgHeight39 { height: 617px; }
.imgHeight40 { height: 633px; }
