/* copal/grids/imgheights-10-18px.css -- copal-css.net */
/*
	Image heights for 10px ascender and 18px line height
*/

.imgHeight1  { height:  10px; }
.imgHeight2  { height:  28px; }
.imgHeight3  { height:  46px; }
.imgHeight4  { height:  64px; }
.imgHeight5  { height:  82px; }
.imgHeight6  { height: 100px; }
.imgHeight7  { height: 118px; }
.imgHeight8  { height: 136px; }
.imgHeight9  { height: 154px; }
.imgHeight10 { height: 172px; }
.imgHeight11 { height: 190px; }
.imgHeight12 { height: 208px; }
.imgHeight13 { height: 226px; }
.imgHeight14 { height: 244px; }
.imgHeight15 { height: 262px; }
.imgHeight16 { height: 280px; }
.imgHeight17 { height: 298px; }
.imgHeight18 { height: 316px; }
.imgHeight19 { height: 334px; }
.imgHeight20 { height: 352px; }
.imgHeight21 { height: 370px; }
.imgHeight22 { height: 388px; }
.imgHeight23 { height: 406px; }
.imgHeight24 { height: 424px; }
.imgHeight25 { height: 442px; }
.imgHeight26 { height: 460px; }
.imgHeight27 { height: 478px; }
.imgHeight28 { height: 496px; }
.imgHeight29 { height: 514px; }
.imgHeight30 { height: 532px; }
.imgHeight31 { height: 550px; }
.imgHeight32 { height: 568px; }
.imgHeight33 { height: 586px; }
.imgHeight34 { height: 604px; }
.imgHeight35 { height: 622px; }
.imgHeight36 { height: 640px; }
.imgHeight37 { height: 658px; }
.imgHeight38 { height: 676px; }
.imgHeight39 { height: 694px; }
.imgHeight40 { height: 712px; }
