/* copal/grids/imgheights-12-18px.css -- copal-css.net */
/*
	Image heights for 12px ascender and 18px line height
*/

.imgHeight1  { height:  12px; }
.imgHeight2  { height:  30px; }
.imgHeight3  { height:  48px; }
.imgHeight4  { height:  66px; }
.imgHeight5  { height:  84px; }
.imgHeight6  { height: 102px; }
.imgHeight7  { height: 120px; }
.imgHeight8  { height: 138px; }
.imgHeight9  { height: 156px; }
.imgHeight10 { height: 174px; }
.imgHeight11 { height: 192px; }
.imgHeight12 { height: 210px; }
.imgHeight13 { height: 228px; }
.imgHeight14 { height: 246px; }
.imgHeight15 { height: 264px; }
.imgHeight16 { height: 282px; }
.imgHeight17 { height: 300px; }
.imgHeight18 { height: 318px; }
.imgHeight19 { height: 336px; }
.imgHeight20 { height: 354px; }
.imgHeight21 { height: 372px; }
.imgHeight22 { height: 390px; }
.imgHeight23 { height: 408px; }
.imgHeight24 { height: 426px; }
.imgHeight25 { height: 444px; }
.imgHeight26 { height: 462px; }
.imgHeight27 { height: 480px; }
.imgHeight28 { height: 498px; }
.imgHeight29 { height: 516px; }
.imgHeight30 { height: 534px; }
.imgHeight31 { height: 552px; }
.imgHeight32 { height: 570px; }
.imgHeight33 { height: 588px; }
.imgHeight34 { height: 606px; }
.imgHeight35 { height: 624px; }
.imgHeight36 { height: 642px; }
.imgHeight37 { height: 660px; }
.imgHeight38 { height: 678px; }
.imgHeight39 { height: 696px; }
.imgHeight40 { height: 714px; }
