/* copal/grids/imgheights-10-21px.css -- copal-css.net */
/*
	Image heights for 10px ascender and 21px line height
*/

.imgHeight1  { height:  10px; }
.imgHeight2  { height:  31px; }
.imgHeight3  { height:  52px; }
.imgHeight4  { height:  73px; }
.imgHeight5  { height:  94px; }
.imgHeight6  { height: 115px; }
.imgHeight7  { height: 136px; }
.imgHeight8  { height: 157px; }
.imgHeight9  { height: 178px; }
.imgHeight10 { height: 199px; }
.imgHeight11 { height: 220px; }
.imgHeight12 { height: 241px; }
.imgHeight13 { height: 262px; }
.imgHeight14 { height: 283px; }
.imgHeight15 { height: 304px; }
.imgHeight16 { height: 325px; }
.imgHeight17 { height: 346px; }
.imgHeight18 { height: 367px; }
.imgHeight19 { height: 388px; }
.imgHeight20 { height: 409px; }
.imgHeight21 { height: 430px; }
.imgHeight22 { height: 451px; }
.imgHeight23 { height: 472px; }
.imgHeight24 { height: 493px; }
.imgHeight25 { height: 514px; }
.imgHeight26 { height: 535px; }
.imgHeight27 { height: 556px; }
.imgHeight28 { height: 577px; }
.imgHeight29 { height: 598px; }
.imgHeight30 { height: 619px; }
.imgHeight31 { height: 640px; }
.imgHeight32 { height: 661px; }
.imgHeight33 { height: 682px; }
.imgHeight34 { height: 703px; }
.imgHeight35 { height: 724px; }
.imgHeight36 { height: 745px; }
.imgHeight37 { height: 766px; }
.imgHeight38 { height: 787px; }
.imgHeight39 { height: 808px; }
.imgHeight40 { height: 829px; }
