/* copal/grids/imgheights-09-18px.css -- copal-css.net */
/*
	Image heights for 9px ascender and 18px line height
*/

.imgHeight1  { height:   9px; }
.imgHeight2  { height:  27px; }
.imgHeight3  { height:  45px; }
.imgHeight4  { height:  63px; }
.imgHeight5  { height:  81px; }
.imgHeight6  { height:  99px; }
.imgHeight7  { height: 117px; }
.imgHeight8  { height: 135px; }
.imgHeight9  { height: 153px; }
.imgHeight10 { height: 171px; }
.imgHeight11 { height: 189px; }
.imgHeight12 { height: 207px; }
.imgHeight13 { height: 225px; }
.imgHeight14 { height: 243px; }
.imgHeight15 { height: 261px; }
.imgHeight16 { height: 279px; }
.imgHeight17 { height: 297px; }
.imgHeight18 { height: 315px; }
.imgHeight19 { height: 333px; }
.imgHeight20 { height: 351px; }
.imgHeight21 { height: 369px; }
.imgHeight22 { height: 387px; }
.imgHeight23 { height: 405px; }
.imgHeight24 { height: 423px; }
.imgHeight25 { height: 441px; }
.imgHeight26 { height: 459px; }
.imgHeight27 { height: 477px; }
.imgHeight28 { height: 495px; }
.imgHeight29 { height: 513px; }
.imgHeight30 { height: 531px; }
.imgHeight31 { height: 549px; }
.imgHeight32 { height: 567px; }
.imgHeight33 { height: 585px; }
.imgHeight34 { height: 603px; }
.imgHeight35 { height: 621px; }
.imgHeight36 { height: 639px; }
.imgHeight37 { height: 657px; }
.imgHeight38 { height: 675px; }
.imgHeight39 { height: 693px; }
.imgHeight40 { height: 711px; }
