/* copal/grids/imgheights-11-18px.css -- copal-css.net */
/*
	Image heights for 11px ascender and 18px line height
*/

.imgHeight1  { height:  11px; }
.imgHeight2  { height:  29px; }
.imgHeight3  { height:  47px; }
.imgHeight4  { height:  65px; }
.imgHeight5  { height:  83px; }
.imgHeight6  { height: 101px; }
.imgHeight7  { height: 119px; }
.imgHeight8  { height: 137px; }
.imgHeight9  { height: 155px; }
.imgHeight10 { height: 173px; }
.imgHeight11 { height: 191px; }
.imgHeight12 { height: 209px; }
.imgHeight13 { height: 227px; }
.imgHeight14 { height: 245px; }
.imgHeight15 { height: 263px; }
.imgHeight16 { height: 281px; }
.imgHeight17 { height: 299px; }
.imgHeight18 { height: 317px; }
.imgHeight19 { height: 335px; }
.imgHeight20 { height: 353px; }
.imgHeight21 { height: 371px; }
.imgHeight22 { height: 389px; }
.imgHeight23 { height: 407px; }
.imgHeight24 { height: 425px; }
.imgHeight25 { height: 443px; }
.imgHeight26 { height: 461px; }
.imgHeight27 { height: 479px; }
.imgHeight28 { height: 497px; }
.imgHeight29 { height: 515px; }
.imgHeight30 { height: 533px; }
.imgHeight31 { height: 551px; }
.imgHeight32 { height: 569px; }
.imgHeight33 { height: 587px; }
.imgHeight34 { height: 605px; }
.imgHeight35 { height: 623px; }
.imgHeight36 { height: 641px; }
.imgHeight37 { height: 659px; }
.imgHeight38 { height: 677px; }
.imgHeight39 { height: 695px; }
.imgHeight40 { height: 713px; }
