/* copal/grids/imgheights-10-20px.css -- copal-css.net */
/*
	Image heights for 10px ascender and 20px line height
*/

.imgHeight1  { height:  10px; }
.imgHeight2  { height:  30px; }
.imgHeight3  { height:  50px; }
.imgHeight4  { height:  70px; }
.imgHeight5  { height:  90px; }
.imgHeight6  { height: 110px; }
.imgHeight7  { height: 130px; }
.imgHeight8  { height: 150px; }
.imgHeight9  { height: 170px; }
.imgHeight10 { height: 190px; }
.imgHeight11 { height: 210px; }
.imgHeight12 { height: 230px; }
.imgHeight13 { height: 250px; }
.imgHeight14 { height: 270px; }
.imgHeight15 { height: 290px; }
.imgHeight16 { height: 310px; }
.imgHeight17 { height: 330px; }
.imgHeight18 { height: 350px; }
.imgHeight19 { height: 370px; }
.imgHeight20 { height: 390px; }
.imgHeight21 { height: 410px; }
.imgHeight22 { height: 430px; }
.imgHeight23 { height: 450px; }
.imgHeight24 { height: 470px; }
.imgHeight25 { height: 490px; }
.imgHeight26 { height: 510px; }
.imgHeight27 { height: 530px; }
.imgHeight28 { height: 550px; }
.imgHeight29 { height: 570px; }
.imgHeight30 { height: 590px; }
.imgHeight31 { height: 610px; }
.imgHeight32 { height: 630px; }
.imgHeight33 { height: 650px; }
.imgHeight34 { height: 670px; }
.imgHeight35 { height: 690px; }
.imgHeight36 { height: 710px; }
.imgHeight37 { height: 730px; }
.imgHeight38 { height: 750px; }
.imgHeight39 { height: 770px; }
.imgHeight40 { height: 790px; }
